@model OnlineBankingSystem.Core.ViewModel.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/Content/images/signin-image.jpg" alt="sing up image"></figure>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                @using (Html.BeginForm("ResetPassword", "Customer", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(x=>x.Email)
                    @Html.HiddenFor(x=>x.Code)

                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        @Html.PasswordFor(x => x.Password, new { @placeholder = "password" })
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = " repeat password" })
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Enter" />
                    </div>
                }

               

            </div>
        </div>
    </div>
</section>

